<h1>Welcome to Anagram Analyzer!</h1>
<p>This app will allow to input your initial word, and then any additional words that you might be wondering about</p>
<form action="/anagram">
  <div class="form-group">
    <label for="initial_word">Enter your first word:</label>
    <input type="text" name="initial_word" id="initial_word" class="form-control">
  </div>
  <div class="form-group">
    <label for="word_list">Enter the words that you're curious about:</label>
    <input type="text" name="word_list" id="word_list" class="form-control">
  </div>
  <h5>Click the Button to see which words are anagrams of your initial word!</h5>
  <button type="submit" class="btn btn-danger">Anagram</button>
</form>
